<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

        <form action="{{ path('movies') }}">
                <label for="test">yoloooooo :</label>
                <input type="text" name="name" id="name">
                <input type="text" name="date" id="date">
                <input type="text" name="director" id="director">
        
                <button>Submit</button>
            </form>


    {% if (film.director == 'Gerard') %}
    <p>{{film.name}}
        {{film.date}}
        {{film.director}}</p>
    <p>Gerard like train</p>
    <img src="./corgi.gif" alt="">

    {% elseif (film.director != 'Gerard') %}
    <p>NEIN NEIN NEIN !!!!</p>
    {% endif %}

    {% if 3 > 2 %}
    <p>1 et 1 = 11 </p>

    {% endif %}

</body>

</html>